<h1>Current Player: {{ player }} </h1>

<button nbButton outline id="newGame" status="danger" (click)="newGame()">Start new Game</button>


<h2 *ngIf="winner">
    Player {{ winner }} won the game!
</h2>


<div class="squareContainer">
    <main class="main mainOne">
        <app-square 
            *ngFor="let val of squares; let i = index" 
            [value]="val"
            (click)="makeMove(i)"> 
        </app-square>
    </main>
    <main class="main mainTwo">
        <app-square 
            *ngFor="let val of squares; let i = index" 
            [value]="val"
            (click)="makeMove(i)"> 
        </app-square>
    </main>
    <main class="main mainThree">
        <app-square 
            *ngFor="let val of squares; let i = index" 
            [value]="val"
            (click)="makeMove(i)"> 
        </app-square>
    </main>
</div>