.squareContainer {
    width: 100%; 
    main {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-gap: 0px;
        margin-bottom: 0;
        position: absolute; 
        opacity: 0; 
        animation: boxLoad 1.2s linear 0.2s forwards;
            app-square {
            border: 3px gray solid;
            height: 150px;
            }
    }
    
    .mainOne {
        top: 50px; 
        left: 600px; 
    }
    
    .mainTwo {
        top: 250px;
        left: 640px; 
    }
    
    .mainThree {
        top: 450px;
        left: 670px; 
    }
}



@keyframes boxLoad {
    from {
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 0;
    } to {
        transform: rotate3d(3, 1, 0, 70deg);
        opacity: 1; 
    }
}
